/* Event */
.event-title{
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  
}
.event-title::after{
  content: '';
  display: block;
  width: 75px;
  margin: auto;
  margin-top: 10px;
  border-bottom: 5px solid #045E18;
}


.event-image {
  max-width: 150px;
}

.event-card {
  max-height: fit-content;
  padding: 10px;
  text-align: justify;
  border-radius: 5px;
  background: linear-gradient(315deg, #dddddd, #ffffff);
  box-shadow:  -18px -18px 36px #e4e4e4,
             18px 18px 36px #ffffff;
}

.event-wrapper {
  width: 100%;
  background-color: #E9E9E9;
}

.event-more-btn{
  max-width: fit-content;
  border-radius: 32px;
  text-align: center;
}
/* End Event */