/* Profile Desa */
.organisasi-wrapper {
    background: #98fb98;
    max-width: 100%;
  }
  .profile-wrapper {
    overflow-x: hidden;
  }
  .visi-misi-box {
    background: #ffffff;
    width: 60%;
    border-radius: 32px;
  }
  .organisasi-title {
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .organisasi-image {
    width: 100rem;
  }
  
  .sensus-penduduk {
    background: #98fb98;
  }
  
  .visi-misi {
    background: #f0e8eb;
  }
  /* End Profile Desa */